@model List<orders>

<style>
    .btn {
        color: white;
        padding: 10px;
    }

    .edit {
        background-color: #4260f5;
    }

    .delete {
        background-color: tomato;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Amount</th>
            <th scope="col">Shipping Address</th>
            <th scope="col">Oreder Address</th>
            <th scope="col">Order Email</th>
            <th scope="col">Order Date</th>
            <th scope="col">Order Statues</th>
            <th scope="col">Customer_id</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>

                <td>@item.amount</td>
                <td>@item.shipping_address</td>
                <td>@item.orders_address</td>
                <td>@item.orders_email</td>
                <td>@item.orders_date</td>
                <td>@item.orders_status</td>
                <td>@item.customer_id</td>
                <td>
                    <a href="/order/GoToEdit/@item.Id">
                        <button class="btn edit">Edit</button>
                    </a>
                </td>
                <td>
                    <a href="/order/Delete/@item.Id">
                        <button class="btn delete">Delete</button>
                    </a>
                </td>
            </tr>
        }


    </tbody>
</table>
